/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testoAlternato {
    padding: 1.8em;
    margin: 2rem;
    border: solid 0.1em;
    line-height: 1.5em;
    position: relative;
    width: 80%;
}

.parole {
   padding-left: 5px;
    color: cadetblue;
    position: absolute;
    overflow: hidden;
    /* border: solid 1px red; */
    height: 20px;
}

@keyframes slot-machine {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }
    
    100% {
        transform: translatey(-40px);
    }
    
}

i {
    animation: none;
     }

i:hover {
animation: slot-machine 6s linear infinite;
 }
